
<div id="wrapper">
      <h1>MLS News</h1>
      <h2>The latest and greatest from U.S. Soccer's top division.</h2>
      <div id="articles"></div>
      <div id="comments"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./public/assets/js/app.js"></script>
